@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**/
body{
    font-family: 'Roboto',sans-serif;
    color: #000000;
    font-weight: 200;
}
h1{
    font-size:3rem;

}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}
p{
    font-size:1.25rem;
}
a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
    /* flex-wrap: wrap; */
}
:root{
    --padding-inline:388px;
}
.container{
 padding: 0px var(--padding-inline) 0px ;   
}
/*top-banner*/
.top-banner-section
{
    padding: 20px var(--padding-inline) 0;
    padding-right: 400px;
    justify-content: space-between;
    height: 60px;
}
.icons
{
   gap:25px; 
   border-right: 1px solid  #8b8080;
   padding-inline: 20px;
   align-items: center;
}
.icon{
flex-direction: column;
align-items: center;
color: #0000008a;
}
.icon p{
    font-weight :bolder;
    font-size: 0.9rem;
}
.icon:hover{
    color: #000000;
    /* box-shadow: 0px 0px 1px black; */
    transition: 0.2s ease-out;
}
.empty-btn
{
    background-color: #ffffff ;
    color: rgba(0, 0, 0, 0.6);
    border: 0px solid black;
    font-size: 16px;
    border-radius: 30px;
    padding:12px 24px;
}
.empty-btn:hover
{
    background-color: rgba(194, 193, 193, 0.582);
}
.empty-btn-blue
{
    background-color: #ffffff ;
    color: #2977c9;
    border: 1px solid #2977c9;
    font-size: 16px;
    border-radius: 30px;
    padding:12px 24px;
}
.empty-btn-blue:hover
{
    background-color: rgba(112, 157, 199, 0.1);
}
.buttons-right
{
    margin-left: 10px;
    gap:10px;
}
/*hero-section*/
.hero-container
{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    gap:30px;
}

.email
{
    margin-top:20px ;
    padding: 15px 150px 15px 10px;
    border: 1px solid black;
    width: 380px;
    font-size: 20px;
}
.hero-text
{
    flex-direction: column;
    row-gap: 20px;
}
.hero-img img 
{
    width: 130%;
}
.main-head
{
    color: #8f5849;
    line-height: 4rem;
    font-size: 250px;
    font-weight: lighter;
}
.password
{
    /* margin-top:20px ; */
    padding: 15px 0px 15px 10px;
    border: 1px solid black;
    width: 380px;
    font-size: 20px;

}
#pass1
{
    color: #2977c9;
    font-size: 15px;
    font-weight: 800;
}
.full-blue-btn
{
    font-weight: 900;
    color: white;
    background-color:#2979c9;
    border: 1px solid #2979c9;
    padding: 15px 160px;
    width: 380px;
    height: 50px;
    font-size: large;
    border-radius:25px ;
}
.full-blue-btn:hover{
    transition: 0.2s ease-out;
    box-shadow: 0px 0px 2px black;
    background-color: #0a66c2;
}
.btn-google
{
    font-weight: 900;
    color: black;
    background-color: #ffffff ;
    border: 1px solid #000000;
    padding: 15px 100px;
    width: 380px;
    height: 50px;
    font-size: large;
    border-radius:25px;
    
}
#sign-in-google
{
    flex-direction: row;
    justify-content: space-around;
}
#join-now
{
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 40px;
    font-weight: 700;
}
#join2
{
    font-weight: 800;
}
.btn-google:hover{
    transition: 0.2s ease-out;
    outline: 1px solid  #000000;
    background-color: rgb(235, 228, 228);
}
.or-div
{
    gap:5px;
    align-items: center;
}
.lines1
{
    background-color: #000000;
    width: 175px;
    height: 0.5px;
}
.lines2
{
    background-color: #000000;
    width: 175px;
    height: 0.5px;
}
/*big-sec1*/
#btnn1
{
    background-color: #F3F2F0; ;
    font-size: 20px;
    font-weight: 700;
}
.main-btn
{
    color: #000000;
    border: 1.9px solid #000000;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    border-radius: 40px;
    height:60px;
    padding:12px 22px;
}
.main-btn:hover
{
    background-color: rgba(112, 157, 199, 0.1);
}
.big-sec1-container
{
    padding: 125px var(--padding-inline) 125px;
    justify-content: space-between;
    background-color: #F3F2F0;
    /* gap:20px; */
}
.big-sec1-left
{
    font-weight:100;
    /* max-width:500px; */
    margin-right:10px;
}
.big-sec1-right{
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
    column-gap: 2px;
    font-weight: bold;
}
.sec1-right-btns{
    margin-top: 20px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap:10px;
    flex-wrap: wrap;
}
.sec1-right-text
{
    flex-direction: column;
    align-items: start;
}
#sec1-head
{
    font-weight: 580;
    width: 430px;
    /* font-family: 'sans-serif; */
}
#sec2
{
    background-color: #ffffff;
}
#show-more
{
    margin-top: 30px;
    width: auto;
    padding: 10px 20px 10px 20px;
}
#show-more:hover{
    background-color: #8b8080;
}
/*big sec 3*/
.big-sec3-container
{
    padding-block: 110px;
    background-color: #F1ECE5;
    justify-content: space-evenly;
}
.sec3-head h2
{
    max-width: 460px;
    padding-right: 100px;
    padding-left: 0px;
    color:#8f5849;
    justify-content: start;
}
.sec3-btn
{
    font-weight: 600;
    flex-direction: row;
    margin-left: 30px;
    justify-content: start;
    padding-right: 480px;
}
.ek-btn
{
    height: 60px;
    padding-block: 20px;
}
/*sec-4*/
.sec4-container
{
    padding-block: 120px;
    justify-content: space-between;
    background: linear-gradient(#ffffff,#eeece9);
    align-items: center;
}
.sec4-left
{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}
.sec4-head h2
{
    width: 60%;
    font-size: 2.5rem;
    color:#8f5849;
}
.sec4-text h4{
    font-size: 1.8rem;
    width:60%;
    font-family: 'Poppins',sans-serif;
    font-weight: 550;
    line-height: 40px;
}
.sec4-img
{
    padding-left: 0px;
}
/*sec-5*/
.sec5-container
{
    padding-block:140px;    
    justify-content: space-around;
    /* background-color: #eedada; */
    gap:50px;
}
.sec5-left,.sec5-right
{
    flex-direction: column;
    row-gap: 20px;
}
.sec5-head h1
{
    width: 80%;
    font-weight: 500;
    font-size: 2.8rem;
}
#sec5-btn1
{
    width:50%;
}
#sec5-btn2
{
    width:65%;
    border-radius: 0px;
    align-items: center;
} 
#sec5-btn2 img
{
    margin-left: 10px;
}
/*sec 6*/
.sec6{
    padding-block:150px;
    align-items: center;
    gap:40px;
    background: linear-gradient(90deg,#ffffff ,#e9f5ff);
}
.sec6-text
{
    /* background-color:#F4FAFF; */
    color: #b24020;
    align-items: center;
    height: 500px;
}
/* sec7 */
.sec7
{
    margin-top: 100px;
padding-top:20px;
background-image: url(./assets/ki.jpg);
background-size: cover;
padding-bottom: 600px;
/* background-repeat: no-repeat; */
/* width: 120vw; */
}
.sec7-container
{
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
}
.sec7-text h1{
    font-family: 'Poppins',sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
}

#sec7-btn
{
    color: white;
    background-color:#2473c2;
    border: 1px solid #2979c9;
    padding: 20px 35px;
    width: 160px;
    height: 60px;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius:35px ;
    font-family:sans-serif ;
    font-weight: 500;
}
#sec7-btn:hover{
    transition: 0.2s ease-out;
    box-shadow: 0px 0px 2px black;
    background-color: #0a66c2;
}
/*sec8*/
a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}
.sec8-container
{
    background-color: #F3F2F0;
    padding-block: 20px;
    margin-top: 5px;
    padding-right: 550px;
    justify-content: space-between;
}
.sec8-text-1 , .sec8-text-2, .sec8-text-3,.sec8-text-4{
    flex-direction: column;
    align-items: start;
}
.sec8-text-1 h4, .sec8-text-2 h4, .sec8-text-3 h4,.sec8-text-4 h4{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}
#liid
{
    font-size: 14px;
    line-height: 15px;
    margin-block:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}
#liid:hover
{
    text-shadow: 0 0 0.1px #000000;
    color:#0a66c2;
    transition: 0.2s ease-out;
    text-decoration: underline;
}
/*footer*/
.f11
{
    height: 45px;
    padding-block: 15px;
    /* align-items: center; */
}

.footer-text
{
    flex-direction: row;
    justify-content: space-evenly;
}
.abc{
    font-size: 14px;
    font-weight: 700;
}
.abc2
{
    width: 90px;
    height: 20px;
    background-image: url(./assets/asset\ 18.svg) ;
    background-size: 10px;
    background-size: cover;
}
